/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*---------------------- My Style ----------------------*/

* {
	margin:0;
	padding:0;
}

html, body {
	height: 100%;
	background: #859da8;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

header {
	width: 100%;
	min-height: 140px;	
	background-color: #FFF;	
	font-family: Tahoma, Arial, sans-serif;
	font-size: 22px;
	border-bottom: 1px solid;	
}

header h1 {
	padding-top: 5%;
}

#container {
	height: 100%;
	margin: 0 20%;
	text-align: center;
	background: white;
	box-shadow: 4px 0 4px #293a41, -4px 0 4px #293a41;
	font-family: Verdana, Geneva, sans-serif;
}

.top-lvl-form {
	margin: 20px 0 5px 0;	
	font-size: 13px;
	clear: both;
}

#sort,
#remove-check {
	display: inline-block;
	margin: 5px;
}

.form-btn {
	margin: 5px;
	padding: 3px;
	height: 25px;
	width: 150px;
}

#container>h3 {
	text-decoration: underline;
	font-weight: normal;
}

#container ul {
	padding: 0 30px;;
	list-style-type: none;
	text-align: left;
}

#container li {
	margin: 20px;
	padding: 10px;
	border: 1px solid;
	border-radius: 20px;
	box-shadow: 0 0 5px #527483;
}

.check {	
	margin: 8px;	
}

.item {
	font-size: 15px;	
	margin: 5px 15px 0 0px;	
	word-wrap: break-word;	
}

.strike {
	text-decoration: line-through;
}

.edit {
	height: 15px;
	width: 86%;
	outline: none;
	border: none;	
	resize: none;
	overflow: hidden;
}

.hidden {
	display: none;
}

#trash {
	height: 100px;
	margin: 20px 20%;
	border: 1px solid;
	background: grey;
	border-radius: 10px;
}

#trash.ui-state-hover{
    background: red;
}