/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*---------------------- My Style ----------------------*/
* {
  font-family: 'Brandon Grotesque Black';
}
body {
    background: url('./images/groceries.jpg');
    background-size: 1440px 800px;
    padding: 20px 30px;
}

header {
  background-color: rgba(207, 198, 198, 0.4);
  padding: 15px 0;
  margin: auto;
}

h1 {
  font-size: 24pt;
  font-family: 'Brandon Grotesque Black';
  text-transform: uppercase;
  color: #FF2100;
}

h2 {
  font-size: 16pt;
  font-family: 'Brandon Grotesque Black';
  color: #0B8E00;
}

.dashed {
  margin: 0 25%;
  padding: 5px 0;
  width: 50%;
  text-align: center;
  font-style: italic;
  color: #150CEC;
}

#container {
	height: 100%;
	margin: 0 30%;
	text-align: center;
	background: rgba(255, 255, 255, 0.5);
	box-shadow: 4px 0 4px #293a41, -4px 0 4px #293a41;
	font-family: Verdana, Geneva, sans-serif;
}

#add {
  background-color: #000;
  border: none;
  border-radius: 15px;
  outline: none;
  color: #fff;
  display: inline-block;
  font-size: 12pt;
  height: 30px;
  line-height: 24pt;
  margin: 15px auto;
  padding: 0 15px;
  text-align: center;
  width: 55%;
}


h2 {
  margin: 5px;
  text-align: center;
}

.shopList-form {
	margin: 20px 0 5px 0;
	height: 40px;
	font-size: 13px;
}

#remove-item {
	display: inline-block;
	margin: 5px;
}

.form-btn {
	margin: 5px;
	padding: 3px;
	height: 25px;
	width: 150px;
}

#container>h3 {
	text-decoration: underline;
	font-weight: normal;
}

#item_list {
	color: #555;
  font-size: 22px;
  padding: 0 !important;
  font-family: courier, monospace;
  border: 1px solid #dedede;
  position: relative;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}

#item_list li {
	list-style: none;
  border-bottom: 1px dotted #ccc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px 5px 10px 50px;
  text-transform: capitalize;
}

#item_list li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
}

#item_list:last-child {
  border-bottom: 0;
}

#item_list:before {
  content: "";
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  position: absolute;
  height: 100%;
  left: 55px;

}

.check {
	margin: 8px;
}

.check, .item {
  float: left;
  margin-left: -30px;
}

.item {
	font-size: 15px;
	color: #000;
	margin: 8px 0 0 20px;
	word-wrap: break-word;
}

.strike {
	text-decoration: line-through;
}

.hidden {
	display: none;
}

.delete_item {
  position: absolute;
  right: 10px;
}

hr {
  margin: 1px;
}

.delete_item:before {
  content: "\2718";
}
