/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*---------------------- My Style ----------------------*/

html, body {
	background-color :#f5f5f5;
  padding: 20px 50px;
  background: url('images/groceries.jpg') repeat;
}

h1 {
  margin: 0 20%;
  color: #cd0000;
  font-size: 42px;
  letter-spacing: -2px;
  text-align: center;
}

#container {
	height: 100%;
	margin: 0 20%;
	text-align: center;
	background: white;
	box-shadow: 4px 0 4px #293a41, -4px 0 4px #293a41;
	font-family: Verdana, Geneva, sans-serif;
}

input[type="text"] {
    width: 70%;
    height: 25px;
    margin: 25px auto;
    padding-right: 50px;
}

input[type="button"] {
    margin-left: -55px;
    height: 30px;
    width: 50px;
    background: blue;
    color: white;
    border: 0;
    -webkit-appearance: none;
}

.shopList-form {
	margin: 20px 0 5px 0;
	height: 80px;
	font-size: 13px;
}

#remove-item {
	display: inline-block;
	margin: 5px;
}

.form-btn {
	margin: 5px;
	padding: 3px;
	height: 25px;
	width: 150px;
}

#container>h3 {
	text-decoration: underline;
	font-weight: normal;
}

#item_list {
	color: #555;
  font-size: 22px;
  padding: 0 !important;
  font-family: courier, monospace;
  border: 1px solid #dedede;
  position: relative;
  box-shadow: 0 5px 10px -5px rgba(0, 0, 0, 0.5);
}

#item_list li {
	list-style: none;
  border-bottom: 1px dotted #ccc;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 10px 5px 10px 50px;
  text-transform: capitalize;
}

#item_list li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
}

#item_list:last-child {
  border-bottom: 0;
}

#item_list:before {
  content: "";
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  position: absolute;
  height: 100%;
  left: 55px;

}

.check {
	margin: 8px;
}

.check, .item {
  float: left;
  margin-left: -30px;
}

.item {
	font-size: 15px;
	margin: 8px 0 0 20px;
	word-wrap: break-word;
}

.strike {
	text-decoration: line-through;
}

.hidden {
	display: none;
}

.delete_item {
  position: absolute;
  right: 10px;
}

.delete_item:before { content: "\2718";}